body {

font-family: Arial, sans-serif;
background:#f2f5f7;
margin:0;

}


header {

background:#003366;
color:white;
padding:30px;
text-align:center;

}


.dashboard {

display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
padding:20px;

}


.card {

background:white;
padding:20px;
border-radius:10px;
text-align:center;
box-shadow:0 3px 8px rgba(0,0,0,.15);

}

