body {

font-family: Arial, sans-serif;
background:#f2f5f7;
margin:0;

}


header {

background:#003366;
color:white;
padding:30px;
text-align:center;

}


.dashboard {

display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
padding:20px;

}


.card {

background:white;
padding:20px;
border-radius:10px;
text-align:center;
box-shadow:0 3px 8px rgba(0,0,0,.15);

}

.week-buttons {

display:flex;
flex-wrap:wrap;
justify-content:center;
padding:20px;

}


.week-buttons button {

background:#0055aa;
color:white;
padding:12px 18px;
margin:5px;
border-radius:8px;
border:none;
cursor:pointer;

}


.week-buttons button:hover {

background:#003366;

}